@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #143500;
  --primary-color-two: #659e0f;
  --primary-color-three: #e4edd9;
}


body {
  overflow-x: hidden;
  background: var(--primary-color-three);
  background: var(--primary-color-three);
}

h1,
h2,
h3,
h,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

select {
  -webkit-appearance: none;
  /* Remove default styling in Safari */
  -moz-appearance: none;
  /* Remove default styling in Firefox */
  appearance: none;
  /* Remove default styling */
}


/* scrollber */
::-webkit-scrollbar {
  display: none;
}



select {
  -webkit-appearance: none;
  /* Remove default styling in Safari */
  -moz-appearance: none;
  /* Remove default styling in Firefox */
  appearance: none;
  /* Remove default styling */
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.bookinglongShoing::-webkit-scrollbar {
  display: block !important;
}

.bookinglongShoing::-webkit-scrollbar-thumb {
  background: rgb(90, 90, 90);
  width: 6px;
  border-radius: 10px;
}

.bookinglongShoing::-webkit-scrollbar-track {
  background: #fff;
  width: 10px;
  border-radius: 10px;
}

@layer utilities {

  .pbg {
    background-color: var(--primary-color);
  }

  .pbg2 {
    background-color: var(--primary-color-two);
  }

  .pbg3 {
    background-color: var(--primary-color-three);
  }

  .pcl {
    color: var(--primary-color);
  }

  .pcl2 {
    color: var(--primary-color-two);
  }

  .pcl3 {
    color: var(--primary-color-three);
  }

  .transbgforprotect {
    background: transparent;
  }

  .red-light-bg {
    background: #FFF6F0;
  }

  .bannartransparentBg {
    background: linear-gradient(rgba(0, 0, 0, 0.465), rgba(0, 0, 0, 0.465));
  }

  .bannartransparentBgforActor {
    background: rgba(0, 0, 0, 0.838);
  }


  .imageorvedioTransparantBg {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.584));
  }

  .cardimagecomponnentImageWrper {
    overflow: hidden;
  }

  .homeEventCardBgEffect {
    background: radial-gradient(transparent, #bababa);
  }

  .opacitylogo {
    opacity: .4;
  }


  .bannerSlideImage {
    height: 80vh !important;
    overflow: hidden !important;
  }

  .objectpoostion {
    object-position: 100% 25%;
  }

  .object-positon-bootom {
    object-position: 100% 65%;
  }

  .object-bootom-two {
    object-position: 100% 46%;
  }

  .object-top-10 {
    object-position: 100% 10%;
  }

  .cardImageForHoverEffect {
    transition: all 1s;
  }

  .cardHover:hover .cardImageForHoverEffect {
    transform: scale(1.1) !important;
  }


  .portfolioCardHover {
    transition: all 1s;
  }

  .portfolioCardHover:hover {
    transform: scale(1.1) !important;
  }

  .actorheadshotTransparantBg {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.733));
  }

  .stickyheader {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 173px !important;
  }


  .sinpleImageGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 20px;
    grid-template-areas:
      "sinpleImageGridLeft sinpleImageGridCenter sinpleImageGridRight";
  }

  .sinpleImageGridLeft {
    grid-area: sinpleImageGridLeft;
  }

  .sinpleImageGridCenter {
    grid-area: sinpleImageGridCenter;
  }

  .sinpleImageGridRight {
    grid-area: sinpleImageGridRight;
  }


  .overslog {
    overflow-y: scroll;
    height: 100vh;
    border-radius: 15px;
  }

  .mycartoverlogs {
    overflow-y: scroll;
  }

}



@media (max-width:1124px) {
  .sinpleImageGrid {
    height: fit-content !important;
    overflow-y: scroll;
    grid-template-columns: 1fr;
    grid-template-areas:
      "sinpleImageGridCenter"
      "sinpleImageGridRight"
      "sinpleImageGridLeft";
  }

}